# Python library install

pip beautifulsoup4
pip install requests
pip install pandas


# Import libraries
from bs4 import BeautifulSoup
import requests
import time
import datetime
import csv
import pandas as pd
import smtplib  